/************** reset css ************* */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
ol, ul {
	list-style: none;
	margin: 0px;
}


body{
	font-family: "freight-sans-pro",arial,san-serif;
	color: black;
	margin: 0px;
}

h2{	
	font-size: 32px;
	color: #314E57;
}


#playarea{
	padding-top: 10px;
	float: left;
	position: static;
}

#player1{
	position: absolute;
	bottom: 0px;
}

#logoutButton{
	color: gray;
	background-color: #acefff;
	border-radius: 0;
	width: 65px;
	height: 100px;
	padding-top: 60px;
	background-position: center center;
	background-image: url("../imgs/logout.png");
	background-repeat: no-repeat;
	border: gray 1px solid;
}

#undo{
	color: gray;
	background-color: #acefff;
	border-radius: 0;
	border: gray 1px solid;
	height: 100px;
	padding-top: 60px;
	width: 65px;
	background-position: center center;
	background-image: url("../imgs/undo.png");
	background-repeat: no-repeat;
}

#home{
	color: gray;
	border-radius: 0;
	background-color: #acefff;
	width: 65px;
	height: 100px;
	padding-top: 60px;
	background-position: center center;
	background-image: url("../imgs/house.png");
	background-repeat: no-repeat;
	border: gray 1px solid;
}

#undo{
	color: gray;
	background-color: #acefff;

	border-radius: 0;
	border: gray 1px solid;
	height: 100px;
	padding-top: 60px;
	width: 65px;
	background-image: url("../imgs/undo.png");
	background-repeat: no-repeat;
}

.diamond, .hearts{
	color: #FF372F;
}

#bottom{
	position: absolute;
	padding: 10px;
	bottom: 0px;
	width: 100%;
	height: 84px;
	background-color: #d6d6d6;
}


.card { 
	color: white;
	text-align: center;
	font-size: 24px;
	background-color: #262F33; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	 -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
	float: left; 
	height: 140px; 
	margin: 0 15px 15px 0; 
	position: relative; 
	width: 100px; 
	z-index: 2; 
}

#menu{
	width: 65px;
	position: absolute;
	right: 0px;
	top: 0px;
	height: 100%;
	background-color: #76d1dd;
}

.handHorizontal{
	list-style: none;
}

.handHorizontal li{
	display: inline-block;
	margin-left: -30px;
}
#chatText{
	padding: 0px;
}

.circle{
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background-color: gray;
	display: inline-block;
}

#menu ul{
	position: absolute;
	right: 0px;
	margin: 0px;
}

.miniCard { 
	background-color: white; 
	color: black;
	text-align: center;
	font-size: 50px;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	 -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
	float: left;
	height: 84px; 
	padding: 0px 5px 0px 5px;
	position: relative; 
	min-width: 60px; 
	z-index: 2; 
}

#readyButton, #startButton{
	margin: 2px;
}
button{
	border: none;
	border-radius: 5px;
	background: #80cf98;
	padding: 5px;
	color: white;
	height: 30px;
	font-size: 14px;
	font-family: "freight-sans-pro",arial,san-serif;

}

#playerHand{
	position: static;
	left: 80px;
	bottom: 0px;
	float: right;
	margin-right: 30px;
	display: inline-block;
}
.invisible{
	display: none;
}

#p1{
	height: 40px;
}

#p2, #p3, #p4{
	position: absolute;
}
#p2{
	left: 2%;
}

#p3{
	left: 40%;
}
#p2, #p4{
	top: 40%;
}

#p4{
	right:10%;
}


#deck {
	border-style: solid;
	border-width: 5px;
	/*color: #333;*/
	height: 130px; 
	margin: 0 15px 15px 0; 
	width: 90px;
}

#deckarea{
	width: 750px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
}

#playerList{
	float:right;
	width: 150px;
}

#played{
	width: 450px;
	height: 300px;
	background-color: rgb(200, 247, 202);
	float: right;
	margin-right: 20px;
	position: relative;

}

.chats {
	margin-top: 2px;
	max-height: 150px;
	overflow-y: scroll;
}

#playedPile {
	left: 10px;
	top: 190px;
	position: relative;
}

.playDiv {
	position: absolute;
	text-align: center;
}

#eastPlayed {
	right: 0px;
	top: 80px;
}

#northPlayed {
	top: 5px;
	left: 160px;
}

#westPlayed {
	left: 40px;
	top: 140px;
}

#southPlayed {
	bottom: 0px;
	left: 240px;
}


.hidden{
	visibility: hidden;
}

.none {
	display: none;
}

.inline {
	display: inline-block;
}

.microCard { 
	background-color: white; 
	color: black;
	text-align: center;
	font-size: 30px;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	 -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
	float: left;
	margin: 0 15px 15px 0; 
	padding: 0px 5px 0px 5px;
	position: relative; 
	height: 56px; 
	min-width: 40px; 
	z-index: 2; 
}

#discard {	
	border-color: gray;
	background-color: gray;
	border-style: solid;
	border-width: 5px;
	height: 130px; 
	margin: 0 15px 15px 0; 
	width: 90px; 
	font-size: 20px;
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#backPattern{
	background-color: #e74c3c;

}

.label{
	text-transform: uppercase;
	color: gray;
	font-weight: 500;
	font-size: 16px;
}

.backPattern{
	background-color: #e74c3c;
}
.backPattern:hover{
	background-color: #e74c3c;
}

#deck.backPattern:hover{
	background-color: #e47160;
}

.chatName, .northName, .westName, .eastName {
	color: #A12819;
	font-style: italic;
}

.myName, .southName {
	color: #36CAD4;
	font-style: italic;
}

.diamond, .hearts{
	color: #FF372F;
}

#chatText li{
	word-wrap: break-word;

}