/************** reset css ************* */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}


/**************  basic ************* */
body{
	font-family: "freight-sans-pro",arial,san-serif;
	color: #333;
	min-width: 1070px;
}

#home{
	/*background-image: url("../imgs/background.png");*/
	background-repeat: no-repeat;


}
header{
	color:gray;
}

textarea {
	height: 60px;	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

/* filtering input */
input[type="checkbox"]{
	margin-bottom: 15px;
} 


/************** general styles ************* */
	/* text hierarchy */
	
	
h1{
	font-size: 80px;
	color: gray;
	line-height: 80px;
	text-transform: uppercase;
}

h2{	
	font-size: 32px;
	color: #314E57;
}
h3{
	font-size: 30px;
	line-height: 40px;
}

h4{
	font-family: 'freight-sans-pro', san-serif;
	color: #314E57;
}

a {
	color: gray;
	text-decoration: none;
}

a:hover{
	color: #eee;
}


#gameBar{
	background-color: #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	text-align: center;
	max-width: 200px;
	float: left;
	display: inline-block;
	margin: 10px;
	border: 5px
}

#chatText {
	display: block;
}

.chats {
	overflow-y: auto;
}


#chat {
	padding-top: 20px;
	width: 270px;
	z-index: 900;
	top: 0px;
	float: left;
	height: 100%;
	background-color: #f7f7f7;
	color: #464751;
	font-size: 12px;
	border-right: 1px solid #a9acb1;
	display: inline-block;
}


.card { 
	color: white;
	text-align: center;
	font-size: 32px;
	background-color: white;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	 -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
	float: left; 
	height: 140px; 
	margin: 0 15px 15px 0; 
	width: 100px; 
	z-index: 2; 
}


.configSection {
	float: left;
	display: inline-block;	
}


.none {
	display: none;
}

.hidden {
	visibility: hidden;
}

#header{
	padding: 15px;
	color: gray;
	background-color:rgba(0,0,0,0.2);

}

#hero{
	padding: 20px;
	
	background: #76d1dd; /* Old browsers */
	background: -moz-linear-gradient(top,  #76d1dd 0%, #edece5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#76d1dd), color-stop(100%,#edece5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #76d1dd 0%,#edece5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #76d1dd 0%,#edece5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #76d1dd 0%,#edece5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #76d1dd 0%,#edece5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76d1dd', endColorstr='#edece5',GradientType=0 ); /* IE6-9 */

	
	text-align: center;
	line-height: 2;
	margin-bottom: 20px;
}

#formArea{
	margin-top: 20px;
	background-color: #76d1dd;
	padding: 20px;

}
.invisible{
	display: none;
}

#gameForm {

}

#joinForm {
}

#numPlayers {
	width: 60px;
}

#numDecks,#startingSize {
	width: 60px;
}

#startHand {
	width: 60px;
}

#private {
	width: 15px;
	height: 15px;
	margin: 5px;
}

#main{
	padding-top: 30px; 
	color: gray;
}

#text {
	width: 260px;
}

input {
	font-size: 20px;
	font-family: "freight-sans-pro",arial,san-serif;
	background: #FFF;
	width: 280px;
	height: 30px;
	padding: 0 10px;
	color: #0f1419;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 5px;
}

button{
	border: none;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #80cf98;
	padding: 5px;
	color: white;
	height: 30px;
	font-size: 14px;
	font-family: "freight-sans-pro",arial,san-serif;

}

button:hover{
	background: #4682b4;
	color: white;
}

#logo{
	text-transform: uppercase;
	letter-spacing: 15px;
	font-size: 24px;
}
.circle .image-wrap {
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;
}
.image-wrap{
	position: relative;
	display: inline-block;
	background: gray;
	width: 80px;
	height: 80px;
}

.text{
	color: white;
	font-family: "freight-sans-pro",arial,san-serif;
	font-size: 165px;
	font-weight: 300;

}

.text{
	font-family: "ff-tisa-web-pro",serif;
	color: black;
	font-size: 26px;
	line-height: 36px;
}

.before {
	background: #228B22;
}

.before:hover {
	background: #5793c5;
}

.after:hover {
	background: #228B22;
}

.after {
	background: #5793c5;
}

.leftSide{
	display: inline-block;
	clear: left;
	left: 5px;
}

.rightSide{
	display: inline-block;
	clear: right;
	right: 5px;
}


.handle{
	padding-top: -20px;
	position: inherit;
}

.player {
	position: relative;
	/*display: inline-block;*/
	text-align: center;
}

.vert {
	height: 100%;
	display: inline-block;
	top: 40px;
}
#home{
	background-image: url('../imgs/house.png');
	height: 36px;
	padding-left: 40px;
	padding-top: 20px;
}

.horz {
	height: 100px;
}

.middleDiv {
	display: block;
	width: 800px;
}

#player1{
	float: left;
	width: 800px;
	text-align: center;
	margin-top: 10px;
}

#player2{
	left: 5px;
	float: left;
}

#player3{
	top: 10px;
}

#player4{
	right: 15px;
	float: right;
}

#playarea {
	width: 800px;
	float: left;
	padding: 20px;
}

#played{
	width: 450px;
	height: 400px;
	background-color: rgb(200, 247, 202);
	border-radius: 5px;
	float: right;
	margin-right: 20px;
	position: relative;

}

#playedPile {
	left: 10px;
	top: 190px;
	position: relative;
}


.clearfix:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
    }

#deckarea{
	width: 700px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

#playerList{
	float:right;
}

.public:hover {
	background: #4682b4;
}

.public {
	text-align: bottom;
}


#deck {
	border-style: solid;
	border-width: 5px;
	/*color: #333;*/
	height: 130px; 
	margin: 0 15px 15px 0; 
	width: 90px;
}

#playButtons {
	margin-left: auto;
	text-align: center;
	margin-right: auto;
	margin-bottom: 10px
}




#discard {
	border-color: gray;
	background-color: gray;
	border-style: solid;
	border-width: 5px;
	height: 130px; 
	margin: 0 15px 15px 0; 
	width: 90px; 
	font-size: 20px;
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	 -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}



#chatText li{
	display: inline-block;
	background-color: white;
	width: 264px;
	border-top: 1px solid #afafaf;
	border-bottom: 1px solid #afafaf;
	padding: 3px;
	word-wrap: break-word;
}

.miniCard {
	background-color: white; 
	color: black;
	text-align: center;
	font-size: 50px;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	 -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
	float: left;
	height: 84px; 
	padding: 0px 5px 0px 5px;
	position: relative; 
	min-width: 60px; 
	z-index: 2; 
}


#westRight {
	position: static;
}

#eastRight {
	position: static;
}

#northRight {
	position: static;
}


.microCard {
	background-color: white; 
	color: black;
	text-align: center;
	font-size: 30px;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	 -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
	float: left;
	margin: 0 15px 15px 0; 
	padding: 0px 5px 0px 5px;
	position: relative; 
	height: 56px; 
	min-width: 40px; 
	z-index: 2; 
}


.miniCard:hover, .microCard:hover{
	background-color: black;
	color: white;
}
.diamond:hover, hearts:hover{
	background-color: #FF372F;
}


.vertHand{
	width: 60px;
}

.handVertical li{
	display: inline-block;
	margin-top: -50px;
}

.handHorizontal{
	list-style: none;
	text-align: center;
}

.handHorizontal li{
	display: inline-block;
	margin-left: -30px;
}

.diamond, .hearts{
	color: #FF372F;
}

.spades, .clubs{
	color: #262F33;
}

.whiteText {
	color: white;
}

.southName, .eastName{
	position: absolute;
	right: 2px;
	bottom: 1px;
}

.westName, .northName {
	position: absolute;
	left: 2px;
	bottom: 1px;
}


.chatName, .northName, .westName, .eastName {
	color: #A12819;
	font-style: italic;
}

.myName, .southName {
	color: #36CAD4;
	font-style: italic;
}

.loginFields{
}

.gameLogins {
	background-color: #76d1dd;
	vertical-align: middle;
	padding: 4px;
}

.playDiv {
	position: absolute;
	text-align: center;
}

#eastPlayed {
	right: 0px;
	top: 170px;
}

#northPlayed {
	left: 40px;
	bottom: 255px;
}

#westPlayed {
	left: 40px;
	bottom: 85px;
}

#southPlayed {
	bottom: 0px;
	right: 0px;
}

#playerHand {
	margin-left: 35px;
	min-width: 50px;
}

.inline {
	display: inline-block;
}

.label{
	text-transform: uppercase;
	color: gray;
	font-weight: 500;
	font-size: 16px;
}

.backPattern{
	background-color: #e74c3c;
}
.backPattern:hover{
	background-color: #e74c3c;
}

#deck.backPattern:hover{
	background-color: #e47160;
}

.container {
  margin: 60px auto;
  width: 120px;
}

.switch {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 26px;
  width: 120px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 58px;
  line-height: 26px;
  font-size: 11px;
  text-align: center;
  cursor: pointer;
}

.switch-label:active {
  font-weight: bold;
}

.errorP {
	color: #c0392b;
}


/*
 * Note: using adjacent or general sibling selectors combined with
 *       pseudo classes doesn't work in Safari 5.0 and Chrome 12.
 *       See this article for more info and a potential fix:
 *       http://css-tricks.com/webkit-sibling-bug/
 */

.switch-input {
  display: none;
}

.switch-input:checked + .switch-label {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.65);
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}

.switch-input:checked + .switch-label-on ~ .switch-selection {
  /* Note: left: 50% doesn't transition in WebKit */
  left: 60px;
}

.switch-selection {
  display: block;
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  width: 58px;
  height: 22px;
  background: #65bd63;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, #9dd993, #65bd63);
  background-image: -moz-linear-gradient(top, #9dd993, #65bd63);
  background-image: -o-linear-gradient(top, #9dd993, #65bd63);
  background-image: linear-gradient(to bottom, #9dd993, #65bd63);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}

#rightNav{
	float: right;	
}
.toggleBox {
	margin-top: 2px;
}

.gameList {
	clear: both;
	background-color: purple;
}

table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}
.table {
  width: 100%;
  margin-bottom: 20px;
}
.table th,
.table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.table th {
  font-weight: bold;
}
.table thead th {
  vertical-align: bottom;
}

.chatLabel{
	margin-left: 5px;
}

#takeAll{
	position: absolute;
	top: 2px;
	right: 0px;
}
#discard:hover{
	background-color: #3d3c3c;
}



#southRight{
	position: static;
}

/********************************* UNUSED *********************************/




/*
.chatBar {
	margin: 10px;
	float: right;
	width: 40%;
	display: inline-block;
}*/
