/************** reset css ************* */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}


/* *************  basic ************* */
body{
	font-family: "freight-sans-pro",arial,san-serif;
	color: #333;
	min-width: 1070px;
}


textarea {
	height: 60px;	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}


/* basic hierarchy */
	
	
h1{
	font-size: 80px;
	color: gray;
	line-height: 80px;
	text-transform: uppercase;
}

h2{	
	font-size: 32px;
	color: #314E57;
}
h3{
	font-size: 30px;
	line-height: 40px;
}

h4{
	font-family: 'freight-sans-pro', san-serif;
	color: #314E57;
}

a {
	color: gray;
	text-decoration: none;
}

a:hover{
	color: #eee;
}

.label{
	text-transform: uppercase;
	color: gray;
	font-weight: 500;
	font-size: 16px;
}


button{
	border: none;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #80cf98;
	padding: 5px;
	color: white;
	height: 30px;
	font-size: 14px;
	font-family: "freight-sans-pro",arial,san-serif;

}

button:hover{
	background: #4682b4;
	color: white;
}

.longText{
	font-family: "ff-tisa-web-pro",serif;
	color: black;
	font-size: 26px;
	line-height: 36px;
}

/* ************* home page specific ************* */

#hero{
	padding: 20px;
	background: #76d1dd; /* Old browsers */
	background: -moz-linear-gradient(top,  #76d1dd 0%, #edece5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#76d1dd), color-stop(100%,#edece5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #76d1dd 0%,#edece5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #76d1dd 0%,#edece5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #76d1dd 0%,#edece5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #76d1dd 0%,#edece5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76d1dd', endColorstr='#edece5',GradientType=0 ); /* IE6-9 */
	text-align: center;
	line-height: 2;
	margin-bottom: 20px;
}


table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}
.table {
  width: 100%;
  margin-bottom: 20px;
}
.table th,
.table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.table th {
  font-weight: bold;
}
.table thead th {
  vertical-align: bottom;
}

#formArea{
	margin-top: 20px;
	background-color: #76d1dd;
	padding: 20px;
}

input {
	font-size: 20px;
	font-family: "freight-sans-pro",arial,san-serif;
	background: #FFF;
	width: 280px;
	height: 30px;
	padding: 0 10px;
	color: #0f1419;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 5px;
}


#text {
	width: 260px;
}

input[type="checkbox"]{
	margin-bottom: 15px;
} 

#numDecks,#startingSize {
	width: 60px;
}

#startHand {
	width: 60px;
}

#numPlayers {
	width: 60px;
}

#private {
	width: 15px;
	height: 15px;
	margin: 5px;
}

.errorP {
	color: #c0392b;
}
/* ************* game page specific ************* */

/* general */

.chatName, .northName, .westName, .eastName {
	color: #A12819;
	font-style: italic;
}

.myName, .southName {
	color: #36CAD4;
	font-style: italic;
}

.circle .image-wrap {
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;
}
.image-wrap{
	position: relative;
	display: inline-block;
	background: gray;
	width: 80px;
	height: 80px;
}

/* header */

#home{
	background-image: url('../imgs/house.png');
	height: 36px;
	padding-left: 40px;
	padding-top: 20px;
	background-repeat: no-repeat;
}

.gameLogins {
	background-color: #76d1dd;
	vertical-align: middle;
	padding: 4px;
}

/* chats */

#chat { /* contains the entire section */
	padding-top: 20px;
	width: 270px;
	z-index: 900;
	top: 0px;
	float: left;
	height: 100%;
	background-color: #f7f7f7;
	color: #464751;
	font-size: 12px;
	border-right: 1px solid #a9acb1;
	display: inline-block;
}

.chatLabel{
	margin-left: 5px;
}

.chats { /* specifically where the chat text goes */
	overflow-y: auto;
}

#chatText {
	display: block;
}

#chatText li{
	display: inline-block;
	background-color: white;
	width: 264px;
	border-top: 1px solid #afafaf;
	border-bottom: 1px solid #afafaf;
	padding: 3px;
	word-wrap: break-word;
}

/* card styles in order from largest to smallest */

.card { 
	color: white;
	text-align: center;
	font-size: 32px;
	background-color: white;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	 -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
	float: left; 
	height: 140px; 
	margin: 0 15px 15px 0; 
	width: 100px; 
	z-index: 2; 
}

.miniCard {
	background-color: white; 
	color: black;
	text-align: center;
	font-size: 50px;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	 -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
	float: left;
	height: 84px; 
	padding: 0px 5px 0px 5px;
	position: relative; 
	min-width: 60px; 
	z-index: 2; 
}


.microCard {
	background-color: white; 
	color: black;
	text-align: center;
	font-size: 30px;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	 -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
	float: left;
	margin: 0 15px 15px 0; 
	padding: 0px 5px 0px 5px;
	position: relative; 
	height: 56px; 
	min-width: 40px; 
	z-index: 2; 
}

.miniCard:hover, .microCard:hover{
	background-color: black;
	color: white;
}

.backPattern{
	background-color: #e74c3c;
}
.backPattern:hover{
	background-color: #e74c3c;
}

#deck.backPattern:hover{
	background-color: #e47160;
}

.diamond, .hearts{
	color: #FF372F;
}

.spades, .clubs{
	color: #262F33;
}

.diamond:hover, hearts:hover{
	background-color: #FF372F;
}

/* gameplay area, comprised of playarea and personal area */

#playarea { /* contains deckarea and playerlist */
	width: 800px;
	float: left;
	padding: 20px;
}

/* player list, also contains some controls */
#playerList{
	float:right;
}

#southRight{
	position: static;
}

#westRight {
	position: static;
}

#eastRight {
	position: static;
}

#northRight {
	position: static;
}
/* modifies the appearances of buttons after players are ready */

.before {
	background: #228B22;
}

.before:hover {
	background: #5793c5;
}

.after:hover {
	background: #228B22;
}

.after {
	background: #5793c5;
}

/* deck area */
#deckarea{
	width: 700px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}


#deck {
	border-style: solid;
	border-width: 5px;
	height: 130px; 
	margin: 0 15px 15px 0; 
	width: 90px;
}

#discard {
	border-color: gray;
	background-color: gray;
	border-style: solid;
	border-width: 5px;
	height: 130px; 
	margin: 0 15px 15px 0; 
	width: 90px; 
	font-size: 20px;
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	 -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#discard:hover{
	background-color: #3d3c3c;
}

.whiteText {
	color: white;
}

.public:hover {
	background: #4682b4;
}

.public {
	text-align: bottom;
}

#played{
	width: 450px;
	height: 400px;
	background-color: rgb(200, 247, 202);
	border-radius: 5px;
	float: right;
	margin-right: 20px;
	position: relative;
}

#takeAll{
	position: absolute;
	top: 2px;
	right: 0px;
}

/* apportions each players area within played */
.playDiv {
	position: absolute;
	text-align: center;
}

#eastPlayed {
	right: 0px;
	top: 170px;
}

#northPlayed {
	left: 40px;
	bottom: 255px;
}

#westPlayed {
	left: 40px;
	bottom: 85px;
}

#southPlayed {
	bottom: 0px;
	right: 0px;
}

#playerHand {
	margin-left: 35px;
	min-width: 50px;
}

#playedPile {
	left: 10px;
	top: 190px;
	position: relative;
}

/* labels the apportioned area */
.southName, .eastName{
	position: absolute;
	right: 2px;
	bottom: 1px;
}

.westName, .northName {
	position: absolute;
	left: 2px;
	bottom: 1px;
}


/* allows cards in li to be horizontal and look overlapped */

.handHorizontal{
	list-style: none;
	text-align: center;
}

.handHorizontal li{
	display: inline-block;
	margin-left: -30px;
}


.horz {
	height: 100px;
}



/* beneath deck area is personal area */

#player1{
	float: left;
	width: 800px;
	text-align: center;
	margin-top: 10px;
}

.player {
	position: relative;
	text-align: center;
}

/* overriding classes */

.none, .invisible {
	display: none;
}

.hidden {
	visibility: hidden;
}

.inline {
	display: inline-block;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}


/* other */

.configSection {
	float: left;
	display: inline-block;	
}

#about{
	font-family: "ff-tisa-web-pro",serif;
	color: black;
	font-size: 24px;
	line-height: 36px;
}

#about h3{
	font-family: "freight-sans-pro",arial,san-serif;
	font-size: 32px;
}


#about ul{
	list-style-type: disc;
}

/*
 * 
 *       .
 *  Code adapted from CSSdeck
 *  http://cssdeck.com/labs/toggle-switches    
 */

.switch {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 26px;
  width: 120px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 58px;
  line-height: 26px;
  font-size: 11px;
  text-align: center;
  cursor: pointer;
}

.switch-label:active {
  font-weight: bold;
}

.switch-input {
  display: none;
}

.switch-input:checked + .switch-label {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.65);
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}

.switch-input:checked + .switch-label-on ~ .switch-selection {
  /* Note: left: 50% doesn't transition in WebKit */
  left: 60px;
}

.switch-selection {
  display: block;
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  width: 58px;
  height: 22px;
  background: #65bd63;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, #9dd993, #65bd63);
  background-image: -moz-linear-gradient(top, #9dd993, #65bd63);
  background-image: -o-linear-gradient(top, #9dd993, #65bd63);
  background-image: linear-gradient(to bottom, #9dd993, #65bd63);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}

#rightNav{
	float: right;	
}
.toggleBox {
	margin-top: 2px;
}





