/************** reset css ************* */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	padding: 15px;
}
ol, ul {
	list-style: none;
}


/**************  new styles ************* */
body{
	font-family: "freight-sans-pro",arial,san-serif;
	background-color: #e0ebe8;
	color: white;

}
header{
	color:gray;
}

textarea {
	height: 60px;	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

/* filtering input */
input[type="checkbox"]{
	margin-bottom: 15px;
} 

label{
	padding: 2px 10px;
	border-radius: 3px;
	display: inline-block;
	margin-top: 4px;
}


/************** general styles ************* */
	/* text hierarchy */
h1{
	text-transform: uppercase;
	font-size: 42px;
	letter-spacing: .3em;
	font-weight: 700;
}

h2{	
	font-size: 25px;
	color: #314E57;
}

h4{
	font-family: 'freight-sans-pro', san-serif;
	color: #314E57;
}


#gameBar{
	background-color: #ccc;
	border-radius: 5px;
	text-align: center;
	max-width: 200px;
	float: left;
	display: inline-block;
	margin: 10px;
	border: 5px
}

#chat {
	overflow-y: scroll;
	height: 300px;
	background-color: white;
	color: gray;
}

.text{
	color: white;
	font-family: "freight-sans-pro",arial,san-serif;
	font-size: 165px;
	font-weight: 300;
	
}

.card { 
	color: white;
	text-align: center;
	font-size: 50px;
	background-color: #262F33; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	 -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
	float: left; height: 280px; 
	margin: 0 15px 15px 0; 
	position: relative; 
	width: 200px; 
	z-index: 2; 
}

.diamond, .hearts{
	background-color: #FF372F;
}
.chatBar {
	margin: 10px
	float: right;
	width: 40%;
	display: inline-block;
}

.configSection {
	float: left;
	display: inline-block;	
}


.hidden {
	display: none;
}

